
/* Headings */  

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    
}

h2 {
    line-height: 1.4;
    text-transform: capitalize;
    font-family: $fontHeadings;
    font: {
        size: $underLarge;
        weight: 400;
    }
}

h3 {
    font-family: $fontH3;
    font: {
        size: $small;;
        weight: 600;
    }
}

h4 {
    font: {
        size: $aboveMedium;
        weight: 400;
    }
}
