// Colors 
$mainTextColor: #6a6a6a;
$solidColor: #6fc4fb;
$headlinesColor: #141b2d;
$pColor: #333;
$textMark: #9fd661;
$btncColor: #9677de;
$artBorColor: #d8e6f3;

// Fonts
$primaryFont: 'Nunito Sans', sans-serif;
$secondaryFont: 'Varela Round', sans-serif;



html {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, #eef7ff, #fff );
    background-attachment: fixed;
    color: $mainTextColor;
    font: {
        family: $primaryFont;
        size: 15px;

    }
}

* {
    box-sizing: inherit;
    &::before, &::after {
        box-sizing: inherit;
    }
    // Outline testing 
    // outline: 1px dotted black;
}

// Global Styling 

h2 {
    letter-spacing: -2px;
    font: {
        size: 57px;
        weight: 200;
    }
}


// Global Reset
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}


// Input File

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile {
    display: none;
}

.inputfile + label {
    max-width: 80%;
    font-size: 16px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile-6 + label {
    color: #b9cada;
}

.inputfile-6 + label {
    border: 1px solid #d6e2f0;
    background-color: #fff;
    padding: 4px;
    border-radius: 50px;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 1rem 2.5rem;
}

.inputfile-6 + label span {
    width: 230px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    text-align: left;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #fff;
    font: {
        family: $secondaryFont;
        size: 16px;
        weight: 400;
    }
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: $btncColor;
    display: inline-block;
    border-radius: 50px;
    transition: all 150ms ease;

}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: darken($btncColor, 2);
    transform: scale(1.015, 1.11);
}

// =================

.wrapper {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    min-width: 1157px;
    height: 85vh;
    background: #fff;
    box-shadow: 0 0 70px -10px rgba(#0061a0, .20);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    overflow: hidden;

    // START ART
    .art {
        position: absolute;
        .sticker {
            position: absolute;
            width: 220px; height: 135px;
            border: 10px solid #fff;
            box-shadow: inset 0 0 0 2px $artBorColor, 0 0 0 2px $artBorColor;
            margin-bottom: 1rem;
        }
        .sticker-1 {
            left: 992px; top: 100px; transform: rotate(15deg) scale(.87);
            padding: 1.5rem 2.5rem 1.7rem;
            border: 6px solid #fff;

            .bg-view {
                width: 100%; height: 100%;
                border: 2px solid $artBorColor;
            }
            .person-1, .person-2 {
                display: block;
                width: 54px; height: 41px;
                background: #fff;
                border: 2px solid $artBorColor;
                border-bottom-width: 0;
                border-radius: 50px 50px 0 0;
                position: absolute;  bottom: 2px;
                &::after {
                    content: "";
                    display: block;
                    width: 30px; height: 35px;
                    background: #fff;
                    border: 2px solid $artBorColor;
                    border-radius: 50px;
                    position: absolute; top: -23px; right: 10px;
                }
            }
            .person-1 {
                left: 13px;
            }
            .person-2 {
                left: 72px;
            }
        }
        .sticker-2 {
            left: -50px; top: 20px; transform: rotate(30deg) scale(.87);
            padding: 1.5rem 2.5rem 1.7rem;
            &::after {
                content: "";
                display: block;
                width: 29px; height: 29px;
                border-radius: 50%;
                border: 2px solid $artBorColor;
                position: absolute;
                top: 25px; right: 24px;
            }
            .pyramide {
                display: block;
                width: 0px; height: 0px;
                position: relative; 

            }
            .pyramide-1 {
                border-left: 90px solid transparent;
                border-top: 90px solid $artBorColor;
                transform: rotate(-45deg) scale(.9);
                top: 44px; right: 10px;
                &::after {
                    content: "";
                    display: block;
                    width: 0px; height: 0px;
                    border-left: 85px solid transparent;
                    border-top: 85px solid #fff;
                    transform: rotate(0deg);
                    position: absolute;
                    top: -88px; right: 2px;
                }
            }
            .pyramide-2 {
                border-left: 90px solid transparent;
                border-top: 90px solid $artBorColor;
                transform: rotate(-45deg) scale(.65);
                top: -46px; left: 35px;
                &::after {
                    content: "";
                    display: block;
                    width: 0px; height: 0px;
                    border-left: 85px solid transparent;
                    border-top: 85px solid #fff;
                    transform: rotate(0deg);
                    position: absolute;
                    top: -88px; right: 2px;
                }
            }
        }
        .sticker-3 {
            left: -79px; top: 280px; transform: rotate(-15deg) scale(.87);
            border: 9px solid #fff;
            padding: .3rem;
            .inner-border {
                width: 100%; height: 100%;
                border: 2px solid $artBorColor;
                padding: .9rem .8rem 1.4rem;
                display: flex;
                justify-content: space-between;
                .photo {
                    width: 46%; height: 100%;
                    background: #fff;
                    border: 2px solid $artBorColor;
                    position: relative;
                    &::after {
                        content: "";
                        display: block;
                        width: 100%; height: 2px;
                        background: $artBorColor;
                        position: absolute;
                        bottom: -12px;
                    }
                }
                .lines {
                    width: 46%; height: 100%;
                    // Stripes
                    background: linear-gradient(
                    to bottom,
                    $artBorColor 30%,
                    #fff 0%
                    );
                    background-size: 100% 7px;
                    position: relative;
                    &::after {
                        content: "";
                        display: block;
                        width: 28%; height: 2px;
                        background: $artBorColor;
                        position: absolute;
                        bottom: -10px;
                    }
                }
            }
        }
        .sticker-4 {
            left: 992px; top: 300px; transform: rotate(-15deg) scale(.87);
            padding: 1.5rem 2.5rem 1.7rem;
            
            .pyramide {
                display: block;
                width: 0px; height: 0px;
                position: relative; 
            }
            .pyramide-1 {
                
                border-left: 90px solid transparent;
                border-top: 90px solid $artBorColor;
                transform: rotate(-45deg) scale(.9);
                top: 44px; right: 10px;
                &::after {
                    content: "";
                    display: block;
                    width: 0px; height: 0px;
                    border-left: 85px solid transparent;
                    border-top: 85px solid #fff;
                    transform: rotate(0deg);
                    position: absolute;
                    top: -88px; right: 2px;
                }
            }
            .pyramide-2 {
                border-left: 90px solid transparent;
                border-top: 90px solid $artBorColor;
                transform: rotate(-45deg) scale(.65);
                top: -46px; left: 35px;
                &::after {
                    content: "";
                    display: block;
                    width: 0px; height: 0px;
                    border-left: 85px solid transparent;
                    border-top: 85px solid #fff;
                    transform: rotate(0deg);
                    position: absolute;
                    top: -88px; right: 2px;
                }
            }
            .pyramide-3 {
                border-left: 90px solid transparent;
                border-top: 90px solid #d8e6f3;
                transform: rotate(-45deg) scale(0.45);
                top: -136px; left: 74px;
                &::after {
                    content: "";
                    display: block;
                    width: 0px; height: 0px;
                    border-left: 85px solid transparent;
                    border-top: 85px solid #fff;
                    transform: rotate(0deg);
                    position: absolute;
                    top: -88px; right: 2px;
                }
            }
            .cloud-wrapper {
                position: absolute;                
                .cloud {
                    width: 55px; height: 13px;
                    background: #fff;
                    border: 2px solid $artBorColor;
                    border-top: 0;
                    border-left: 0;
                    border-right:0;
                    border-radius: 50px;
                    position: relative;
                    .circle {
                        position: absolute;
                        display: block;
                        position: relative;
                        border: 2px solid $artBorColor;
                        border-radius: 50%;
                        &.circle-1 {
                            width: 15px;
                            height: 15px;
                            top: -3px;
                            left: -2px;
                            border-bottom: 0;
                            border-right: 0;
                        }
                        &.circle-2 {
                            width: 24px;
                            height: 24px;
                            top: -31px;
                            left: 8px;
                            border-right-color: rgba($artBorColor, .7);
                            z-index: -1;
                        }
                        &.circle-3 {
                            width: 19px;
                            height: 19px;
                            top: -49px;
                            left: 30px;
                            border-left: 0;
                            z-index: -1;
                        }
                        &.circle-4 {
                            width: 12px;
                            height: 12px;
                            top: -59px;
                            left: 45px;
                            border-left: 0;
                            border-bottom: 0;
                        }
                    }
                }
                &.cloud-1 {
                    top: 29px; left: 30px;
                    transform: scale(.55);
                    .cloud {
                        border-width: 3px;
                        .circle {
                            border-width: 3px;
                        }
                    }
                }
                &.cloud-2 {
                    top: 43px; left: 121px;
                }
                &.cloud-3 {
                    top: 74px; right: 150px;
                    transform: scale(.40);
                    .cloud {
                        border-width: 4px;
                        .circle {
                            border-width: 4px;
                        }
                    }
                }  
            }
        }
        .sticker-5 {
            left: 717px; top: -120px; transform: rotate(15deg) scale(.87);
        }
        .sticker-6 {
            left: 150px; top: -115px; transform: rotate(-7deg) scale(.87);
        }
        .sticker-7 {
            left: 1082px; top: 445px; transform: rotate(12deg) scale(.5, .43);
        }
        .sticker-8 {
            left: -144px; top: 430px; transform: rotate(12deg) scale(.5, .43);
        }
    }

    // END ART

    .exts-icons {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .file-icon {
            &:not(:last-child) {
                margin-right: 1.3rem;
            }
            margin-bottom: 3.6rem;
            width: 70px; height: 92px;
            border: 1px solid $solidColor;
            border-radius: 6px;
            display: flex;
            align-items: flex-end;
            position: relative;
            span {
                display: block;
                width: 16px; height: 16px;
                border: 1px solid $solidColor;
                background: #fff;
                position: absolute;
                top: -1px; right: -1px;
                &::after, &::before {
                    content: "";
                    display: block;
                    width: 0px; height: 0px;
                    border-left: 16px solid transparent;
                    position: absolute;
                }
                &::after {
                    border-top: 16px solid #fff;
                    top: -2px; right: -2px;

                }
                &::before {
                    border-top: 16px solid $solidColor;
                    top: -1px; right: -1px;
                }
            }
            .file-type {
                background: $solidColor;
                color: #fff;
                margin: 0;
                padding-top: .2rem;
                width: 100%;
                letter-spacing: .7px;
                -webkit-user-select: none;
                font: {
                    family: $secondaryFont;
                    size: 21px;
                    weight: 900;
                }
            }
            &.file-icon__png, &.file-icon__gif{

                width: 52px; height: 74px;
                span {
                    width: 13px; height: 13px;
                    &::after, &::before {
                        border-left: 13px solid transparent;
                    }
                    
                    &::after {
                        border-top: 16px solid #fff;
                        border-left: 16px solid transparent;
                        top: -4.5px; right: -2px;

                    }
                    &::before {
                        border-top: 13px solid $solidColor;

                    }
                }
                .file-type {    
                    font-size: 17px !important;
                    padding-top: .15rem;
                }
            }
            
            &.file-icon__png {
                transform: rotate(-15deg);
            }
            &.file-icon__gif {
                transform: rotate(15deg);
            }

        }
    }
    .inner-wrapper {
        .head {
            .page-title {
                color: $headlinesColor;
            }
            .page-description {
                width: 58%;
                margin: 2rem auto 3.2rem;
                font-size: 18px;
                font-weight: 500;
                line-height: 1.75;
                color: $pColor;
                .file-type-mark {
                    font-family: $secondaryFont;
                    font-weight: 600;
                    color: $textMark;
                    background: transparent;
                }
            }
        }
        .group-wrapper {
            .number-of-imgs {
                margin-top: 1rem;
                color: #9a9a9a;
                font-weight: 300;
                font-size: 15px;
            }
        }
    }
    .footer {
        align-self: flex-end;
        margin-bottom: 3rem;
        p {
            color: $solidColor;
            font-weight: 500;
            font-size: 13px;
        }
        .social-icons {
            a {
                &:not(:last-child) {
                    margin-right: .7rem;
                }
                color: #bad8f0;
                font-size: 20px;
                transition: color 300ms ease;
                &:hover {
                    color: $solidColor;
                }
            }
        }
    }

}