/* -----------------------------------------------------------
## Colors
--------- */
/* Font Colors */
/* Background Colors */
/* Button Colors */
/* Shadows */
/* -----------------------------------------------------------
## Font Family 
-------------- */
/* -----------------------------------------------------------
# Font Size
---------------- */
/* -----------------------------------------------------------
# Font Weight  
---------------- */
/* -----------------------------------------------------------
# Border Radius
---------------- */
/* -------------
# Flex
---------------- */
/* -------------
# Grid
---------------- */
/* --------------------------------
RESET CSS
-------------------------------- */
/*
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

*/
/*
html, body {
    width: 100%;
    height: 100%;
} */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

body {
  background: #F1F8FE;
  color: #646464;
  margin: 7rem 8vw 5rem;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-size: 18px; }

* {
  box-sizing: inherit; }
  *::before, *::after {
    box-sizing: inherit; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  -webkit-user-select: none;
  user-select: none; }

/* Lists */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul li,
  ol li {
    display: inline-block; }

/* Anchor Link*/
a {
  color: inherit;
  text-decoration: none;
  transition: all 200ms ease; }
  a a:hover,
  a a:focus {
    text-decoration: none;
    outline: none; }
  a:active {
    position: relative;
    top: 1px;
    left: 1px;
    transform: scale(0.99); }

select {
  width: 100%; }

input:focus {
  outline: 0; }

::selection {
  background-color: #fe274b;
  color: #fff; }

::-moz-selection {
  background-color: #fe274b;
  color: #fff; }

/* Follow Along Links */
.highlight {
  transition: all 200ms;
  border-bottom: 2px solid #646464;
  position: absolute;
  top: 0;
  background: transparent;
  left: 0;
  z-index: 1;
  display: block;
  margin-top: 12px; }

/* -----------------
   # GLOBAL CLASEES
--------------------*/
.dis-block {
  display: block; }

@media (max-width: 767px) {
  .dis-block-sm {
    display: block; } }

/* Aligning */
.text-center {
  text-align: center; }

@media (max-width: 767px) {
  .text-center-sm {
    display: block; } }

.text-left {
  text-align: left; }

.box-fit {
  width: 100%; }

/* Text Style */
.caps {
  text-transform: uppercase; }

.lspg1 {
  letter-spacing: 1px; }

.lspg1-5 {
  letter-spacing: 1.5px; }

.lspg2 {
  letter-spacing: 2px; }

.lspg3 {
  letter-spacing: 3px; }

.lspg-1 {
  letter-spacing: -1px; }

.lspg-2 {
  letter-spacing: -2px; }

.lspg-3 {
  letter-spacing: -3px; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #303030; }

h2 {
  line-height: 1.3;
  font-family: "Libre Baskerville", serif;
  font-size: 32px;
  font-weight: 500; }

h3 {
  font-size: 11px;
  font-weight: 600; }

button {
  border: 0;
  padding: 0; }

.btn {
  border-radius: 6px;
  padding: .5rem .9rem;
  transition: all 300ms ease;
  cursor: pointer; }
  .btn:active {
    position: relative;
    top: 1px;
    left: 1px;
    transform: scale(0.99); }
  .btn:focus {
    outline: 1px dotted #aaa; }
  .btn.btn-sm {
    padding: .5rem 1.4rem !important;
    font-size: 13px !important; }
  .btn.btn-md {
    padding: .5rem 1.7rem !important;
    font-size: 14px !important; }
  .btn.btn-lg {
    padding: .7rem 1.7rem !important; }
  .btn.btn-default {
    background: #0066cc;
    color: #fff; }
    .btn.btn-default:focus {
      outline: 1px dotted #0066cc !important; }
  .btn.btn-default--outline {
    background: transparent;
    color: #0066cc;
    border: 1px solid #0066cc; }
    .btn.btn-default--outline:focus {
      outline: 1px dotted #0066cc !important; }
  .btn.btn-danger {
    background: #f97f6f;
    color: #fff; }
    .btn.btn-danger:hover {
      background: #fa9083; }
    .btn.btn-danger:focus {
      outline: 1px dotted #f97f6f !important; }
  .btn.btn-danger-outline {
    background: transparent;
    color: #f97f6f;
    border: 1px solid #f97f6f; }
    .btn.btn-danger-outline:focus {
      outline: 1px dotted #f97f6f !important; }
  .btn.btn-disabled {
    cursor: not-allowed; }
    .btn.btn-disabled:active {
      position: relative;
      top: 0px;
      left: 0px;
      transform: scale(1); }
    .btn.btn-disabled:focus {
      outline: 1px dotted #abb9ba !important; }

.btn:focus {
  outline: 0; }
.btn.btn-default.article__btn--read-more {
  padding: .55rem 1.45rem !important;
  border-radius: 3px;
  background: linear-gradient(to right, #fe274b, #ff025f);
  box-shadow: 2px 10px 45px rgba(0, 0, 0, 0.19);
  transition: transform 300ms ease; }
  .btn.btn-default.article__btn--read-more span {
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 500; }
  .btn.btn-default.article__btn--read-more .arrow {
    display: inline-block;
    font-weight: 900;
    font-size: 16px;
    transition: transform 400ms ease-in-out; }
  .btn.btn-default.article__btn--read-more:hover {
    transform: translateY(-3px); }
    .btn.btn-default.article__btn--read-more:hover .arrow {
      transform: translateX(4px); }
  .btn.btn-default.article__btn--read-more:focus {
    outline: 0 !important; }

.container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: auto; }
  @media only screen and (max-width: 1139px) {
    .container {
      width: 85%; } }
  @media only screen and (max-width: 420px) {
    .container {
      width: 90%; } }

.flex-wrapper {
  display: -webkit-flex;
  display: flex; }

.grid-wrapper {
  display: -ms-grid;
  display: grid; }

.pop-up {
  background: #FFFFFF;
  border-radius: 10px;
  margin: auto;
  max-width: 540px;
  padding: 5rem 5rem;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.055); }
  .pop-up .flex-wrapper {
    justify-content: space-between;
    align-items: center; }
    .pop-up .flex-wrapper:first-child {
      margin-bottom: 2.5rem; }
    .pop-up .flex-wrapper span {
      font-size: 20px;
      font-weight: 300; }
    .pop-up .flex-wrapper input[type=checkbox] {
      height: 0;
      width: 0;
      visibility: hidden; }
    .pop-up .flex-wrapper label {
      cursor: pointer;
      text-indent: -9999px;
      width: 66px;
      height: 34px;
      background: #f3f8ff;
      display: block;
      border-radius: 100px;
      position: relative;
      transition: all .4s ease; }
    .pop-up .flex-wrapper label:after {
      content: '';
      color: #000;
      position: absolute;
      top: -6px;
      left: -11px;
      width: 46px;
      height: 46px;
      background: #579cff;
      border-radius: 90px;
      transition: .4s; }
    .pop-up .flex-wrapper input:checked + label {
      background: #f3f8ff; }
    .pop-up .flex-wrapper input:checked + label:after {
      left: calc(100% + 11px);
      transform: translateX(-100%); }
    .pop-up .flex-wrapper label:active:after {
      width: 60px; }

/* Developed By*/
.dev-by {
  color: rgba(0, 0, 0, 0.7);
  max-width: 420px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: .7rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 999; }
  @media only screen and (max-width: 1139px) {
    .dev-by {
      background: #fff;
      color: #777;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.18);
      padding: .5rem;
      border-radius: 50px;
      flex-wrap: wrap;
      max-width: 420px; } }
  .dev-by span:not(:last-child) {
    margin-right: .5rem; }
  .dev-by span a {
    position: relative; }
    .dev-by span a::before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 2px;
      background: rgba(51, 51, 51, 0.12);
      position: absolute;
      bottom: 0;
      z-index: -1;
      transition: all 300ms ease; }
    .dev-by span a:hover::before {
      height: 90%;
      background: rgba(51, 51, 51, 0.07); }
  .dev-by img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: .8rem;
    box-shadow: 0 2px 10px -3px black;
    -webkit-user-select: none; }

/*# sourceMappingURL=main.css.map */
