body {
  background: #DADADA;
  margin: 5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
}

a {
  text-decoration: none;
  color: #EF9B0F;
  transition: all 300ms ease;
}
a:hover {
  color: #333;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper .tuty-muty-dog-xD {
  margin-bottom: 1.5rem;
  flex-basis: 49%;
  position: relative;
}
.wrapper .tuty-muty-dog-xD .thumb {
  position: relative;
}
.wrapper .tuty-muty-dog-xD .thumb a img {
  display: block;
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.wrapper .tuty-muty-dog-xD .thumb a::before {
  content: '\f00e';
  font-family: "FontAwesome";
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  border-radius: 50%;
  background: #fff;
  color: #EF9B0F;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition: all 300ms ease;
}
.wrapper .tuty-muty-dog-xD .thumb a::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: all 300ms ease;
  opacity: 0;
  position: absolute;
  top: 0;
  ledt: 0;
}
.wrapper .tuty-muty-dog-xD .details {
  width: 100%;
  padding: 0px;
  opacity: 0;
  position: absolute;
  z-index: 999;
  display: flex;
  transition: all 300ms ease;
  box-sizing: border-box;
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.3);
}
.wrapper .tuty-muty-dog-xD .details .icons-group-wrapper a {
  cursor: pointer;
}
.wrapper .tuty-muty-dog-xD .details .icons-group-wrapper a:not(:last-child) {
  margin-right: .5rem;
}
.wrapper .tuty-muty-dog-xD .details .date-like {
  margin-left: auto;
}
.wrapper .tuty-muty-dog-xD:hover .thumb a::before {
  opacity: .9;
}
.wrapper .tuty-muty-dog-xD:hover .thumb a:after {
  opacity: .15;
}
.wrapper .tuty-muty-dog-xD:hover .details {
  background: #fff;
  padding: 20px 30px;
  opacity: 1;
}
.wrapper .tuty-muty-dog-xD.inside {
  display: flex;
}
.wrapper .tuty-muty-dog-xD.inside .details {
  bottom: 0;
  padding: 20px 30px;
  box-shadow: none !important;
}
