
/* Headings */  

h1, h2, h3, h4, h5, h6 {
    color: $colorPrimary;
    font-family: $fontHeadings;
}

h2 {
    font: {
        size: $aboveXLarge;
        weight: 700;
    }
}
h3 {
    font: {
        size: $underLarge;
        weight: 600;
    }
}

