html, body {
  height: 100%; }

body {
  background: linear-gradient(0deg, #33a3dd, #78d3f2);
  background-attachment: fixed;
  margin: 0;
  padding: 0 0 0 0;
  color: #546e7a; }

* {
  box-sizing: border-box; }
  *::after, *::before {
    box-sizing: inherit; }

h2 {
  margin: 0;
  color: #031615;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 800; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

.menu-ui {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 380px;
  height: 90%;
  background: #fff;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 10px 94px -34px #000; }
  .menu-ui .menu-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column; }
    .menu-ui .menu-wrapper .profile-info {
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .menu-ui .menu-wrapper .profile-info .profile-img {
        width: 100px;
        height: 100px;
        position: relative;
        background: #e8f0ff;
        border-radius: 50%;
        text-align: center; }
        .menu-ui .menu-wrapper .profile-info .profile-img::after {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          background: #65e564;
          border-radius: 50%;
          border: 2px solid #fff;
          position: absolute;
          bottom: -2px;
          right: 17px; }
        .menu-ui .menu-wrapper .profile-info .profile-img img {
          width: 100%;
          border-radius: 50%;
          -webkit-user-select: none;
          line-height: 100px; }
      .menu-ui .menu-wrapper .profile-info .profile-author {
        text-align: center; }
        .menu-ui .menu-wrapper .profile-info .profile-author .author__name {
          margin-top: 1rem;
          letter-spacing: .3px; }
        .menu-ui .menu-wrapper .profile-info .profile-author .author__job-title {
          margin: .5rem 0 0 0;
          font-family: "Lato", sans-serif;
          font-size: 16px;
          font-weight: 300; }
    .menu-ui .menu-wrapper .menu-content {
      flex: 1;
      border-radius: 0 0 8px 8px;
      background: linear-gradient(0deg, #e8f0ff, #f7faff); }
      .menu-ui .menu-wrapper .menu-content .group {
        height: 100%;
        padding: 3.5rem 1.7rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .menu-ui .menu-wrapper .menu-content .group .profile-links-group {
          margin-bottom: 2rem; }
          .menu-ui .menu-wrapper .menu-content .group .profile-links-group li a {
            display: block;
            padding: 1rem 2rem;
            transition: all 300ms ease-in-out;
            font-family: "Lato", sans-serif;
            font-size: 20px;
            font-weight: 400;
            overflow: hidden;
            position: relative; }
            .menu-ui .menu-wrapper .menu-content .group .profile-links-group li a::before {
              content: "";
              display: block;
              width: 5px;
              height: 28px;
              background: #f73081;
              position: absolute;
              left: -5px;
              top: 50%;
              margin-top: -14px;
              transition: all 250ms ease-in-out;
              opacity: 0; }
            .menu-ui .menu-wrapper .menu-content .group .profile-links-group li a:hover {
              background: #fff; }
              .menu-ui .menu-wrapper .menu-content .group .profile-links-group li a:hover::before {
                left: 0;
                opacity: 1; }
          .menu-ui .menu-wrapper .menu-content .group .profile-links-group li.is-list-item-selected {
            background: #fff;
            position: relative; }
            .menu-ui .menu-wrapper .menu-content .group .profile-links-group li.is-list-item-selected::before {
              content: "";
              display: block;
              width: 5px;
              height: 28px;
              background: #f73081;
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -14px; }
        .menu-ui .menu-wrapper .menu-content .group .logout-btn {
          display: block;
          width: 100%;
          padding: .8rem 0;
          align-self: center;
          background: #dde9ff;
          text-align: center;
          font-family: "Lato", sans-serif;
          font-size: 18px;
          font-weight: 800;
          transition: background-color 250ms ease-in-out; }
          .menu-ui .menu-wrapper .menu-content .group .logout-btn:hover {
            background: #d8e6ff; }

.is-list-item-selected {
  background: #fff;
  position: relative; }
  .is-list-item-selected::before {
    content: "";
    display: block;
    width: 5px;
    height: 28px;
    background: #f73081;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -14px; }

/*# sourceMappingURL=style.css.map */
