
/* Headings */  

h1, h2, h3, h4, h5, h6 {
    color: $colorPrimary;
}

h2 {
    font: {
        family: $fontHeadings;
        size: $xxLarge;
        weight: 500;
    }
}
h3 {
    font: {
        size: $xSmall;;
        weight: 600;
    }
}

