/* -----------------------------------------------------------
## Colors
--------- */
/* Font Colors */
/* Background Colors */
/* Button Colors */
/* Shadows */
/* Borders Colors */
/* -----------------------------------------------------------
## Font Family 
-------------- */
/* -----------------------------------------------------------
# Font Size
---------------- */
/* -----------------------------------------------------------
# Font Weight  
---------------- */
/* -----------------------------------------------------------
# Border Radius
---------------- */
/* -------------
# Flex
---------------- */
/* -------------
# Grid
---------------- */
html, body {
  width: 100%;
  height: 100%; }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

body {
  background: #f3f5f9;
  background: linear-gradient(-45deg, rgba(174, 180, 255, 0.2) 50%, #fafdff 50%);
  color: #202020;
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
  font-size: 18px; }

* {
  box-sizing: inherit; }
  *::before, *::after {
    box-sizing: inherit; }

p {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  -webkit-user-select: none;
  user-select: none; }

/* Lists */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul li,
  ol li {
    display: inline-block; }

/* Anchor Link*/
a {
  color: inherit;
  text-decoration: none;
  transition: all 200ms ease; }
  a a:hover,
  a a:focus {
    text-decoration: none;
    outline: none; }
  a:active {
    position: relative;
    top: 1px;
    left: 1px;
    transform: scale(0.99); }

select {
  width: 100%; }

input:focus {
  outline: 0; }

::selection {
  background-color: #2AF4BB;
  color: #222; }

::-moz-selection {
  background-color: #2AF4BB;
  color: #222; }

/* -----------------
   # GLOBAL CLASEES
--------------------*/
.dis-block {
  display: block; }

@media (max-width: 767px) {
  .dis-block-sm {
    display: block; } }

/* Aligning */
.text-center {
  text-align: center; }

@media (max-width: 767px) {
  .text-center-sm {
    display: block; } }

.text-left {
  text-align: left; }

.box-fit {
  width: 100%; }

/* Text Style */
.caps {
  text-transform: uppercase; }

.lspg1 {
  letter-spacing: 1px; }

.lspg1-5 {
  letter-spacing: 1.5px; }

.lspg2 {
  letter-spacing: 2px; }

.lspg3 {
  letter-spacing: 3px; }

.lspg-1 {
  letter-spacing: -1px; }

.lspg-2 {
  letter-spacing: -2px; }

.lspg-3 {
  letter-spacing: -3px; }

/* Full Width */
.box-fit {
  width: 100%; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h2 {
  line-height: 1.4;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 400; }

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  font-weight: 600; }

h4 {
  font-family: "Nunito Sans", sansserif;
  font-size: 36px;
  font-weight: 700; }

button {
  border: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none; }

.btn {
  border-radius: 6px;
  padding: .5rem .9rem;
  transition: all 300ms ease;
  cursor: pointer; }
  .btn:active {
    position: relative;
    top: 1px;
    left: 1px;
    transform: scale(0.99); }
  .btn:focus {
    outline: 1px dotted #aaa; }
  .btn.btn-sm {
    padding: .5rem 1.4rem !important;
    font-size: 13px !important; }
  .btn.btn-md {
    padding: .5rem 1.7rem !important;
    font-size: 14px !important; }
  .btn.btn-lg {
    padding: .7rem 1.7rem !important; }
  .btn.btn-default {
    background: #0066cc;
    color: #fff; }
    .btn.btn-default:focus {
      outline: 1px dotted #0066cc !important; }
  .btn.btn-default--outline {
    background: transparent;
    color: #0066cc;
    border: 1px solid #0066cc; }
    .btn.btn-default--outline:focus {
      outline: 1px dotted #0066cc !important; }
  .btn.btn-danger {
    background: #f97f6f;
    color: #fff; }
    .btn.btn-danger:hover {
      background: #fa9083; }
    .btn.btn-danger:focus {
      outline: 1px dotted #f97f6f !important; }
  .btn.btn-danger-outline {
    background: transparent;
    color: #f97f6f;
    border: 1px solid #f97f6f; }
    .btn.btn-danger-outline:focus {
      outline: 1px dotted #f97f6f !important; }
  .btn.btn-disabled {
    cursor: not-allowed; }
    .btn.btn-disabled:active {
      position: relative;
      top: 0px;
      left: 0px;
      transform: scale(1); }
    .btn.btn-disabled:focus {
      outline: 1px dotted #abb9ba !important; }

.btn {
  font-family: "Nunito", sans-serif; }
  .btn:focus {
    outline: 0; }
  .btn.btn-default.rate-button {
    padding: .35em 4em !important;
    border-radius: 5px;
    background: linear-gradient(to right, #2AF4BB, rgba(42, 244, 187, 0.7));
    box-shadow: 2px 10px 45px rgba(42, 244, 187, 0.39);
    transition: transform 300ms ease; }
    .btn.btn-default.rate-button span {
      color: #FFFFFF;
      font-size: 20px;
      font-weight: 500; }
    .btn.btn-default.rate-button:hover {
      transform: translateY(-3px); }
    .btn.btn-default.rate-button:focus {
      outline: 0 !important; }

.container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: auto; }
  @media only screen and (max-width: 1139px) {
    .container {
      width: 85%; } }
  @media only screen and (max-width: 420px) {
    .container {
      width: 90%; } }

.flex-wrapper {
  display: -webkit-flex;
  display: flex; }

.grid-wrapper {
  display: -ms-grid;
  display: grid; }

.wrapper {
  width: 550px;
  min-height: 400px;
  background: #fff;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 85px 0px rgba(67, 133, 214, 0.13); }
  .wrapper > *:not(:last-child) {
    margin-bottom: 2rem; }
  .wrapper h4 {
    position: relative; }
    .wrapper h4:before {
      content: "";
      display: block;
      background: #2AF4BB;
      width: 95%;
      height: 25px;
      position: absolute;
      top: 21px;
      right: -17px;
      z-index: -1; }
  .wrapper p {
    width: 290px;
    text-align: center;
    font-size: 18px; }
  .wrapper .input-email {
    width: 82%;
    position: relative; }
    .wrapper .input-email input {
      display: block;
      width: 100%;
      height: 100%;
      border: 0;
      padding: .85em 3.5em .85em 1.6em;
      background: #fff;
      border-radius: 23px;
      box-shadow: 0 0px 45px -10px rgba(67, 133, 214, 0.27); }
    .wrapper .input-email .send-button {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 7px;
      margin: auto 0;
      width: 45px;
      height: 45px;
      border-radius: 50px;
      background: #353A39;
      color: #FFFFFF;
      transition: all 300ms ease;
      cursor: pointer;
      outline: 0; }
      .wrapper .input-email .send-button i {
        font-size: 38px; }
      .wrapper .input-email .send-button:active {
        width: 55px; }
  .wrapper a {
    font-size: 12px;
    overflow: hidden;
    padding: .1em .3em;
    color: #a4a4a4;
    border-bottom: 1px dotted #d7d7d7;
    font-weight: 600;
    z-index: 10; }
    .wrapper a span {
      position: relative;
      transition: all 300ms ease;
      display: inline-block; }
      .wrapper a span::after {
        content: attr(data-hover);
        color: #2AF4BB;
        position: absolute;
        top: 100%;
        left: 0;
        transform: translate3d(0, 0, 0); }
    .wrapper a:hover {
      border-bottom: 1px dotted rgba(42, 244, 187, 0.95); }
      .wrapper a:hover span {
        transform: translateY(-100%); }

/* Developed By*/
.dev-by {
  color: rgba(0, 0, 0, 0.7);
  max-width: 420px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: .7rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 999; }
  @media only screen and (max-width: 1139px) {
    .dev-by {
      background: #fff;
      color: #777;
      box-shadow: 0 2px 17px 0px rgba(67, 133, 214, 0.22);
      padding: .5rem;
      border-radius: 50px;
      flex-wrap: wrap;
      max-width: 420px; } }
  .dev-by span:not(:last-child) {
    margin-right: .5rem; }
  .dev-by span a {
    position: relative; }
    .dev-by span a::before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 2px;
      background: rgba(51, 51, 51, 0.12);
      position: absolute;
      bottom: 0;
      z-index: -1;
      transition: all 300ms ease; }
    .dev-by span a:hover::before {
      height: 90%;
      background: rgba(51, 51, 51, 0.07); }
  .dev-by img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: .8rem;
    box-shadow: 0 2px 10px -3px black;
    -webkit-user-select: none; }

/*# sourceMappingURL=main.css.map */
