//* { outline: 1px solid red; }

.pricing-tables {
    background: #fff;
    padding: 3rem 0 4.5rem;
    box-shadow: 0 5px 127px 0 rgba(0, 0, 0, 0.07);
    transition: background-color .4s ease-in-out;
    border-radius: $br4;
    &.plans--annually {
        .switch {
            .monthly {
                opacity: .35;

            }
            .annually {
                opacity: 1;
                .save {
                    color: rgba(#eeaeca, 1);
                }
            }
        }
        .plans {
            .plan {
                .plan__head  {
                    &::after {
                        opacity: .5;
                     }
                }
                .plan__price {
                    .price {
                        &.price--monthly {
                            opacity: 0;
                            transform: translateY(100px); 
                        }
                        &.price--annually {
                            opacity: 1 !important;
                            transform: translateY(0px) !important;  
                        }
                    }
                }
            }
        }
    }
    .section__title {
        margin: 0 0 4.2rem 0;
        position: relative;
        &::after {
            content: "";
            display: block;
            width: 30px; height: 2px;
            border-radius: $br15;
            background:$colorPrimary;
            position: absolute;
            right: 0; left: 0; margin: 0 auto;
            bottom: -14px;
        }
    }
    .switch {
        display: flex;
        align-items: center;
        justify-content: center;
        @include selectNone;
        span {
            font: {
                size: $underDefault;
                family: $fontH3;
                weight: 800;
            }
            transition: all .3s ease-in-out;
            &.monthly {

            }
            &.annually {
                opacity: .35;
                position: relative;
                .save {
                    color: darkslategray;
                    font: {
                        size: 11px;
                        weight: 500;
                        family: $fontText;
                    }
                    position: absolute;
                    top: 21px;
                    left: 1px;
                }
            }
            
        }
        .custom-switch {
            position: relative;
            display: inline-block;
            margin: 0 1rem;
            input {
                display: none;
                &:checked + label:active:after {
                    left: 25px;
                }
                &:checked + label:after {
                    left: 41px;
                    background: $colorPrimary;

                }
            }
            label {
                position: relative;
                display: block;
                width: 66px;
                height: 26px;
                border-radius: 50px;
                background: #d3e3f7;
                transition: all .4s ease-in-out;
                cursor: pointer;
                &::after {
                    position: relative;
                    display: block;
                    content: '';
                    width: 20px; height: 20px;
                    top: 3px; left: 5px;
                    border-radius: 19px; 
                    background: $colorPrimary;
                    pointer-events: none;
                    transition: all .4s ease-in-out;
                    
                }
                &:active:after {
                    width: 36px;
                }
            }
        }    
    }
    .plans {
        min-height: 0;
        margin-top: 3.6rem;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        @include media-sm {
            grid-template-columns: 1fr;
        }
        @include media-onlymd {
            grid-template-columns: 1fr 1fr;
            .plan--starter {
                grid-column: 1 / -1;
                grid-row: 1;
            }
        }
        @include media-lg {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .plan {
            padding: 0 0 1.8rem ;
            flex-flow: nowrap column;
            justify-content: space-between;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
            border-radius: $br15;
            overflow: hidden;
            .plan__head {
                transition: all .4s ease-in-out;
                background: linear-gradient(45deg, $colorPrimary, rgba($colorPrimary, .5));
                background: $colorPrimary;
                color: $white;
                padding: 2rem 0;
                overflow: hidden;
                position: relative;
                z-index: 1;
                &::after {
                    content: "";
                    display: block;
                    width: 100%; height: 100%;
                    background: rgb(14, 9, 11);
                    background: linear-gradient(-45deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);               
                    position: absolute; top: 0; left: 0;
                    opacity: 0;
                    z-index: -1;
                    transition: all .4s ease-in-out;
                }
                .plan__title {
                    color: $white;
                    margin: 0 0 .7rem;
                }
                .plan__price {
                    .price {
                        font-size: $xxLarge;
                        font-family: $display;
                        display: inline-block;
                        transition: transform .4s ease 0s, opacity 0.2s ease 0s;

                        position: relative;
                        .plan__type {
                            font: {
                                size: $xSmall;
                                family: $fontText;
                                weight: 500;
                            }
                            position: absolute;
                            bottom: -3px;
                            left: 0px;
                            right: 0;
                            margin: 0 auto;
                        }
                        &.price--monthly {

                        }
                        &.price--annually {
                            transition: transform .4s ease 0s, opacity 1s ease 0s;
                            position: absolute;
                            left: 0; right: 0; margin: 0 auto;
                            opacity: 0;
                            transform: translateY(100px);
                        }
                    }
                    
                }
            }
            .plan__features {
                padding: 2.4rem 2rem 2.1rem;
                p {
                    margin: 0;
                    font-size: $underDefault;
                    font-weight: 500;
                    span {
                        display: block;
                        margin-bottom: .2rem;
                    }
                }
            }
            .plan__btn--start {
                margin: auto;
                width: 75%;
            }
            transition: box-shadow 300ms ease,
                        transform 300ms ease ;
            &:hover {
                box-shadow: 0 10px 11px 0px rgba($colorPrimary, .6);
                transform: translateY(-3px);
            }
        }
    }
}
