/* -----------------------------------------------------------
## Colors
--------- */
/* Font Colors */
/* Background Colors */
/* Button Colors */
/* -----------------------------------------------------------
## Font Family 
-------------- */
/* -----------------------------------------------------------
# Font Size
---------------- */
/* -----------------------------------------------------------
# Font Weight  
---------------- */
/* -----------------------------------------------------------
# Border Radius
---------------- */
/* -------------
# Flex
---------------- */
/* -------------
# Grid
---------------- */
/* --------------------------------
RESET CSS
-------------------------------- */
/*
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

*/
/*
html, body {
    width: 100%;
    height: 100%;
} */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

body {
  background: #282828;
  color: #313131;
  margin: 5rem 0 3rem;
  line-height: 1.5;
  font-family: "Arimo", sans-serif;
  font-size: 17px; }

* {
  box-sizing: inherit; }
  *::before, *::after {
    box-sizing: inherit; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

/* Lists */
ul,
ol {
  list-style: none; }

/* Anchor Link*/
a {
  color: inherit;
  text-decoration: none; }
  a a:hover,
  a a:focus,
  a a:active {
    text-decoration: none;
    outline: none; }

select {
  width: 100%; }

input:focus {
  outline: 0; }

::selection {
  background-color: #282828;
  color: #c2955b; }

::-moz-selection {
  background-color: #282828;
  color: #c2955b; }

/* -----------------
   # GLOBAL CLASEES
--------------------*/
.dis-block {
  display: block; }

@media (max-width: 767px) {
  .dis-block-sm {
    display: block; } }

/* Aligning */
.text-center {
  text-align: center; }

@media (max-width: 767px) {
  .text-center-sm {
    display: block; } }

.box-fit {
  width: 100%; }

/* Text Style */
.caps {
  text-transform: uppercase; }

.lspg1 {
  letter-spacing: 1px; }

.lspg2 {
  letter-spacing: 2px; }

.lspg3 {
  letter-spacing: 3px; }

.lspg-1 {
  letter-spacing: -1px; }

.lspg-2 {
  letter-spacing: -2px; }

.lspg-3 {
  letter-spacing: -3px; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #c2955b;
  font-family: "Arimo", sans-serif; }

h3 {
  font-size: 24px;
  font-weight: 400; }

button {
  border: 0;
  padding: 0; }

.btn {
  border-radius: 6px;
  padding: .5rem .9rem;
  transition: all 300ms ease;
  cursor: pointer; }
  .btn:active {
    position: relative;
    top: 1px;
    left: 1px;
    transform: scale(0.99); }
  .btn:focus {
    outline: 1px dotted #aaa; }
  .btn.btn-sm {
    padding: .5rem 1.4rem !important;
    font-size: 13px !important; }
  .btn.btn-md {
    padding: .5rem 1.7rem !important;
    font-size: 14px !important; }
  .btn.btn-lg {
    padding: .7rem 1.7rem !important; }
  .btn.btn-default {
    background: #0066cc;
    color: #fff; }
    .btn.btn-default:focus {
      outline: 1px dotted #0066cc !important; }
  .btn.btn-default--outline {
    background: transparent;
    color: #0066cc;
    border: 1px solid #0066cc; }
    .btn.btn-default--outline:focus {
      outline: 1px dotted #0066cc !important; }
  .btn.btn-danger {
    background: #f97f6f;
    color: #fff; }
    .btn.btn-danger:hover {
      background: #fa9083; }
    .btn.btn-danger:focus {
      outline: 1px dotted #f97f6f !important; }
  .btn.btn-danger-outline {
    background: transparent;
    color: #f97f6f;
    border: 1px solid #f97f6f; }
    .btn.btn-danger-outline:focus {
      outline: 1px dotted #f97f6f !important; }
  .btn.btn-disabled {
    cursor: not-allowed; }
    .btn.btn-disabled:active {
      position: relative;
      top: 0px;
      left: 0px;
      transform: scale(1); }
    .btn.btn-disabled:focus {
      outline: 1px dotted #abb9ba !important; }

.btn {
  font-size: 18px;
  font-weight: 600; }
  .btn:focus {
    outline: 0; }
  .btn.btn-default.sign-up {
    border-radius: 5px;
    background: #c2955b;
    border: 1px solid transparent;
    color: #fff; }
    .btn.btn-default.sign-up span {
      display: block;
      padding: .3rem 0; }
    .btn.btn-default.sign-up:hover {
      background: transparent;
      border: 1px solid #c2955b;
      color: #fff; }
    .btn.btn-default.sign-up:focus {
      outline: 0 !important; }
  .btn.btn-default.sign-up-basic:hover {
    color: #c2955b; }
  .btn.btn-default.sign-up--dark {
    background: #313131; }
    .btn.btn-default.sign-up--dark:hover {
      border: 1px solid #313131; }

.container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: auto; }

.flex-wrapper {
  display: -webkit-flex;
  display: flex; }

.grid-wrapper {
  display: -ms-grid;
  display: grid; }

.pracing-tables .grid-wrapper {
  grid-template-columns: 1fr;
  grid-gap: 2rem; }
  @media only screen and (max-width: 991px) {
    .pracing-tables .grid-wrapper {
      margin-bottom: 10rem; } }
  @media only screen and (min-width: 767px) and (max-width: 991px) {
    .pracing-tables .grid-wrapper {
      grid-template-columns: 1fr 1fr; } }
  @media only screen and (min-width: 992px) {
    .pracing-tables .grid-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 20px 1fr 20px;
      grid-row-gap: 0; } }
  .pracing-tables .grid-wrapper .plan {
    /* (min) needed be resposive when content being long*/
    min-height: 0;
    border-radius: 6px;
    padding: 2.6rem;
    /* Basic Plan */
    /* Pro Plan */
    /* Bussiness Plan */ }
    .pracing-tables .grid-wrapper .plan .flex-wrapper {
      height: 100%;
      /* Declare (Height: 100%; NOT min-height)to the flexbox wrapper to make
      it fit all the new parent height when changes.
      and make the space between inner elements spread inside the new parent 
      height that deband on min-height property */
      flex-flow: nowrap column;
      justify-content: space-between; }
      .pracing-tables .grid-wrapper .plan .flex-wrapper .plan__head {
        border: 1px solid #c2955b;
        padding: 1rem 2.6rem 1.2rem; }
        .pracing-tables .grid-wrapper .plan .flex-wrapper .plan__head .plan__title {
          margin: 0;
          padding: .2rem 0 1rem;
          border-bottom: 1px solid #c2955b; }
        .pracing-tables .grid-wrapper .plan .flex-wrapper .plan__head .plan__price {
          margin: .5rem 0 0 0; }
          .pracing-tables .grid-wrapper .plan .flex-wrapper .plan__head .plan__price span {
            font-family: "Rozha One", serif;
            font-size: 96px;
            position: relative; }
            .pracing-tables .grid-wrapper .plan .flex-wrapper .plan__head .plan__price span sub {
              font-size: 20px;
              position: absolute;
              top: 40px;
              left: -10px; }
      .pracing-tables .grid-wrapper .plan .flex-wrapper .plan__features {
        margin: 3rem 0 auto;
        padding-bottom: 3rem; }
        .pracing-tables .grid-wrapper .plan .flex-wrapper .plan__features span {
          display: block; }
          .pracing-tables .grid-wrapper .plan .flex-wrapper .plan__features span:not(:last-child) {
            margin-bottom: .8rem; }
    .pracing-tables .grid-wrapper .plan.basic-plan {
      background: #f3f3f3; }
      @media only screen and (min-width: 767px) and (max-width: 991px) {
        .pracing-tables .grid-wrapper .plan.basic-plan {
          grid-column: 1 / -1;
          grid-row: 1; } }
      @media only screen and (min-width: 992px) {
        .pracing-tables .grid-wrapper .plan.basic-plan {
          grid-column: 1;
          grid-row: 2 / 3; } }
    .pracing-tables .grid-wrapper .plan.pro-plan {
      background: #313131;
      color: #fff;
      /*@include media-lg {
          position: absolute;
          left: 50%; right: 50%;
          top: -19px;
          transform: translateX(-50%);
          width: 357.56px;
      }*/ }
      @media only screen and (min-width: 767px) and (max-width: 991px) {
        .pracing-tables .grid-wrapper .plan.pro-plan {
          grid-column: 1;
          grid-row: 2; } }
      @media only screen and (min-width: 992px) {
        .pracing-tables .grid-wrapper .plan.pro-plan {
          grid-column: 2;
          grid-row: 1 / -1; } }
      .pracing-tables .grid-wrapper .plan.pro-plan .plan__head .plan__title {
        color: #c2955b;
        font-size: 26px; }
      .pracing-tables .grid-wrapper .plan.pro-plan .plan__head .plan__price span {
        font-size: 120px; }
    .pracing-tables .grid-wrapper .plan.bussiness-plan {
      background: #c2955b; }
      @media only screen and (min-width: 767px) and (max-width: 991px) {
        .pracing-tables .grid-wrapper .plan.bussiness-plan {
          grid-column: 2;
          grid-row: 2; } }
      @media only screen and (min-width: 992px) {
        .pracing-tables .grid-wrapper .plan.bussiness-plan {
          grid-column: 3;
          grid-row: 2 / 3; } }
      .pracing-tables .grid-wrapper .plan.bussiness-plan .plan__head {
        border: 1px solid #fff; }
        .pracing-tables .grid-wrapper .plan.bussiness-plan .plan__head .plan__title {
          color: #fff;
          border-bottom: 1px solid #fff; }
        .pracing-tables .grid-wrapper .plan.bussiness-plan .plan__head .plan__price {
          color: #fff; }

/* Developed By*/
.dev-by {
  color: #fff;
  max-width: 500px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: .7rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 20; }
  @media only screen and (max-width: 991px) {
    .dev-by {
      background: rgba(0, 0, 0, 0.3);
      padding: .5rem;
      border-radius: 7px;
      flex-wrap: wrap; } }
  .dev-by span:not(:last-child) {
    margin-right: .5rem; }
  .dev-by span a {
    position: relative; }
    .dev-by span a::before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 5px;
      background: rgba(51, 51, 51, 0.1);
      position: absolute;
      bottom: 0;
      z-index: -1;
      transition: all 300ms ease; }
    .dev-by span a:hover::before {
      height: 90%; }
  .dev-by img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: .8rem;
    box-shadow: 0 2px 10px -3px black;
    -webkit-user-select: none; }

/*# sourceMappingURL=main.css.map */
