.container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    @include media-allsm {
        width: 85%;
    }
    @include media-xs {
        width: 90%;
    }
}

.flex-wrapper {
    @include flex;
}

.grid-wrapper {
    @include grid;
}
