$baseFont: 'Lato', sans-serif;
$secFont: 'Roboto', sans-serif;

body {
   font-family: $baseFont;
   background: #EFEEFF;
   background: linear-gradient(to right bottom, #EFEEFF , rgba(#3FEAFF, .20));
   background-attachment: fixed;
   color: #555;
}

*, *::before, *::after  {
   box-sizing: border-box;
}

a {text-decoration: none;}
.wrapper {
   width: 980px;
   height: 620px;
   display: flex;
   flex-wrap: wrap;
   position: absolute; left: 50%; top: 50%;
   transform: translate(-50%, -50%);
   border-radius: 21px;
   box-shadow: 0 25px 100px -5px rgba(black, .15);
   overflow: hidden;
   .left {
      flex-basis: 50%;
      padding-right: 4.5rem;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      h1 {
         font: {
            family: $secFont;
            size: 110px;
            weight: 700;
         }
         margin: 0;
         background: linear-gradient(to right bottom, #6149FF -5%, #3FEAFF);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         text-shadow: 0 15px 100px rgba(#0f94e3, .20);
      }
      p {
         padding-left: 2em;
         text-align: right;
         margin-bottom: 2.6rem;
         line-height: 1.4;
         font: {
            family: $secFont;
            size: 22px;
            weight: 300;
         }
      }
      .contact-us {
         background: linear-gradient(to right bottom, #6149FF, #3FEAFF);
         color: #fff;
         padding: 18px 60px;
         //border-radius: 19px;
         border-radius: 19px  19px  19px  19px  / 45%   45%   45%  45%;
         text-transform: uppercase;
         letter-spacing: 1.4px;
         box-shadow: 0 10px 60px rgba(#0f94e3, .25);
         font: {
            size: 15px;
            weight: 600;
         }
         transition: all 300ms ease, box-shadow 300ms ease;
         &:hover {
            transform: translateY(-4px);
            box-shadow: 0 15px 40px -5px rgba(#0f94e3, .55);
         }
      }
      .copyrights {
         position: absolute; bottom: 0; right: 0;
         color: #d1d1d1;
         font-size: 15px;
         margin: 0 4.5rem 1.5rem;
      }
   }
   .right {
      flex-basis: 50%;
      background: linear-gradient(to right bottom, #6149FF -5%, #3FEAFF );
      display: flex;
      justify-content: center;
      align-items: center;

      .rabbit {
         .rabbit__head {
            .rabbit__ears {
               position: relative;
               .rabbit__ears--right,
               .rabbit__ears--left {
                  width: 57px; height: 170px;
                  background: #fff;
                  position: absolute; 
                  border-radius: 50%  50%  50%  50%  / 40%   40%   60%  60%;
               }
               .rabbit__ears--right {
                  top: -53px; left: 30px;
                  transform: rotate(-6deg);
               }
               .rabbit__ears--left {
                  top: -45px; right: 30px;
                  transform: rotate(6deg);
               }
            }
            .rabbit__face {
               width: 210px; height: 320px;
               // width: 14em; height: 9em;
               background: #fff;
               //border-radius: 100% 100% 80% 80%;
               border-radius: 50%  50%  50%  50%  / 65%   65%   40%  40%;
               transform: perspective(4000) rotateX(55deg); 
               position: relative;
            }
            position: relative;
            .rabbit__eyes--right,
            .rabbit__eyes--left {
               width: 17px; height: 17px;
               border-radius: 100%;
               background: #3a434f;
               position: absolute;
            }
            .rabbit__eyes--right {
               top: 152px; right: 47px;
            }
            .rabbit__eyes--left {
               top: 152px; left: 47px;
            }
         }
      }
   }
}
